<?php

//Input your API Key
$api_key = 'XXXXXXXXXX'; 

//Input your Secret Key
$api_secret = 'XXXXXXXXXX';

#Environment
//$api_url = 'https://api.bybit.com';
$api_url = 'https://api-testnet.bybit.com';